<div class="card">
  <h2>Lista de Productos</h2>

  <button routerLink="/products/new" class="p-button p-component p-button-success">
    <i class="pi pi-plus mr-2"></i> Nuevo Producto
  </button>

  <p-table [value]="products" class="mt-4" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price | currency:'USD' }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <button class="p-button p-button-sm p-button-info mr-2" [routerLink]="['/products/edit', product.id]">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="p-button p-button-sm p-button-danger" (click)="deleteProduct(product.id)">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
